<html ng-app="madlib">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<title>MadLib</title>
</head>
<body id="bdy" ng-controller="MainController as main">
	<h1>Kev's MadLib Generator</h1>

	<div id="in">

		<input ng-model="main.options.nouns" type="text" id="noun" placeholder="noun, noun, noun, noun, noun"><br>
		<input ng-model="main.options.verbs" type="text" id="verb" placeholder="verb, verb, verb, verb, verb"><br>
		<input ng-model="main.options.verbings" type="text" id="verbing" placeholder="verb-ing, verb-ing, verb-ing, verb-ing, verb-ing"><br>
		<input ng-model="main.options.adverbs" type="text" id="adverb" placeholder="adverb, adverb, adverb, adverb, adverb"><br>
		<input ng-model="main.options.adjectives" type="text" id="adjective" placeholder="adjective, adjective, adjective, adjective, adjective"><br><br>

		<p id="choose">Choose your story:</p>
			Bobby's Story
			<input ng-model="main.selectStory" ng-value="main.preStory.bobby" type="radio" name="story"><br>
			Techdeck Story
			<input ng-model="main.selectStory" ng-value="main.preStory.techdeck" type="radio" name="story"><br>
			Magical Ninja Story
			<input ng-model="main.selectStory" ng-value="main.preStory.ninja" type="radio" name="story"><br><br>
			<p>{{main.selectStory}}</p>
			<button class="btn btn-warning" ng-click="main.yomama()" name="create">create</button>
	</div><br>

	<div id="out">
		<story></story>
	</div>
	<!-- <story verbs="story.verbs"></story> -->
	<script src="madlib.js"></script>
</body>
</html>